params {
    author = "Karl Keat"
    outputDir = "idp_gwas"
    trait_type="quantitative"
    inv_normalize="FALSE"

    tsv_input = "/project/verma_shared/personal/karlkeat/workflows/saige_nextflow/workflow/idp_gwas_test.tsv"
    pmbb_imputed_chunks = "/static/PMBB/PMBB-Release-2026-4.0/Imputed/chunked_pgen_files/PMBB-Release-2026-4.0_genetic_imputed.*.psam"
}

