params {
    author = "Karl Keat"
    outputDir = "idp_gwas"
    trait_type="quantitative"
    inv_normalize="FALSE"

    tsv_input = ""
    pmbb_imputed_dir = "/static/PMBB/PMBB-Release-2026-4.0/Imputed/*.psam"
}

process {
    withName: 'SAIGE_STEP1' {
        cpus = 48
        memory = '16GB'
    }
}
