profiles {
    cluster_singularity {
        // run on computing cluster
        process.executor = 'lsf'
        process.queue = 'epistasis_normal'

        singularity.enabled = true
        singularity.runOptions = '--bind /project:/project,/static:/static'
        singularity.autoMounts = true 

        executor {
            queueSize=500 // we do this so nextflow is allowed to manage more jobs at a time
        }

        process.memory = '16GB'

        process {
            withName: 'PLINK2_PREPROCESS' {
                container = 'plink2.sif'
            }
            withName: 'PLINK2_MERGE' {
                container = 'plink2.sif'
            }
            withName: 'MAKE_STEP1_INPUT' {
                container = 'plink2.sif'
            }
            withName: 'SAIGE_STEP1' {
                container = 'saige.sif'
            }
            withName: 'SAIGE_STEP2' {
                container = 'saige.sif'
            }
            
        }
    }
}
